# Core
uvicorn==0.34.0
mcp[cli]>=1.2.0
starlette>=0.41.3
sse-starlette>=2.1.3
# Data & Finance
pandas==2.2.3
numpy==1.26.4
yfinance>=0.2.61
# Utils
httpx>=0.27.0
python-dotenv==1.0.1
# Build requirements
setuptools>=65.5.0
wheel>=0.38.0
